

.linkCarro{
    font-size: 1.5rem;
    color: #fefefe;
    text-decoration: none;
    display: flex;
    
}

.textoCarro{
    text-align: center;
    width: 2rem;
    border-radius: 500px;
    border: red ;
    background-color: red;
}