.container {
    background-color: black;
    width: 100vw;
    height: 5rem;
    display: flex;
}

.container div{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.navbarItem{
    text-decoration: none;
    color: #fefefe;
    font-size: 2rem;
    
    &:hover {
        color: rgb(33, 33, 218);
        font-size: 2.2rem;
    }
}
