.container {
    margin: 6rem 2rem;
    display: flex;
    justify-content: center;
    border: solid 3px gray;
    border-radius: 10px;
    .divDetail {
    width: 70%;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
   
    }
    h2 {
        display: inline-block;
        margin: 1rem 0px;
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
        text-decoration: underline;
    }
    p{
        margin: 1rem 0px;
        font-weight: bold;
        text-align: center;
    }
    a {
        color: black;
        &:hover {
            color: blue;
        }
    }
}



.imgProduct {
    height: 20rem;
    width: 30%;
    margin: 2rem;
}